# URL Backend API (misal ngrok URL / local IP)
# Contoh Local: http://10.0.2.2:4000/api
# Contoh Ngrok: https://xxxx.ngrok-free.app/api
API_URL=http://10.0.2.2:4000/api

# URL Socket.io Backend
# Contoh Local: http://10.0.2.2:4000
# Contoh Ngrok: https://xxxx.ngrok-free.app
SOCKET_URL=http://10.0.2.2:4000
